.theme-switch-wrapper {
    display: none;
}

/* Fix hotspot forms on system admin panel */
.blankPortletList > li > form[action$="courseManager"] > label {
    font-weight: bold;
    display: block;
    margin: 5px 0 3px;
}