/*
 * TU  Delft styling overrides.
 *
 * Transform Blackboard styling to a flattened layout (it's 2013!).
 */

body {
    font-family: Tahoma, Arial, sans-serif;
}

a {
    color: #00a6d6;
}

/*
 * Body backgrounds should be white.
 */
#contentFrame,
#schemePreview,
body,
body.topFrame {
    background: #fff none;
}

body.csMenuFrame, body.popupMenu {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: none;
}

/*
 * Breadcrumb and contained elements.
 */
.breadcrumbs {
    border: 0;
    background: #fff none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

    .breadcrumbs .theme-switch-wrapper {
        display: none;
    }

    .breadcrumbs .path .root {
        border: 0;
    }