/**
 * Refresh styling to remove large colored surfaces, making the layout more spacious.
 */
/* Content panel */
#contentPanel .topRound,
#contentPanel .bottomRound {
    display: none;
}
#contentArea, #schemePreviewBody,
#contentPanel .container,
#contentPanel .pageTitle,
#contentPanel .localViewToggle,
#contentPanel .actionBar,
#contentPanel .actionBar ul {
    background: #fff;
    border: 0;
}
/* Content lists, Announcement lists */
.contentList li,
.announcementList li {
    border-top: 1px solid #e5e5e5;
    margin: 0;
    padding: 2px 0;
}
.contentList li:first-child,
.announcementList li:first-child {
    border-top: 0;
}
.contentList .item {
    border-top: 0;
}
.buildList div.details {
    border-left: 2px solid #ccc;
}
/* Announcement information */
.announcementList li .announcementInfo,
#announcementList li .announcementInfo {
    border-left: 0;
    background: #fafafa;
    top: 0;
    bottom: 0;
}
/* Modules */
#moduleBody, #moduleBorder, .portlet {
    border: 1px solid #ccc;
}
.edit_controls {
    top: 2px;
}
#moduleTitle, .portlet h2 {
    color: #00a6d6;
    background: #fff none;
}
.portlet h2.dragHandle:hover {
    background-color: #00a6d6;
    color: #fff;
}
.portlet h2 span.reorder {
    background-position: -208px -124px;
}
.portlet .collapsible {
    border-top: 1px solid #ccc;
    margin: 0 1px;
    padding: 2px 0;
}
.portlet h3, #lightbox h3, .portlet div.portletBlock h4, .portlet div.blockContents h4, .flyout h3 {
    border-bottom: 1px solid #ccc;
    color: #00a6d6;;
}

/**
  * Huisstijl TU navigatie
  *
  * Mimic the layout of the TU Delft navigation styling used in the corporate websites.
  * Apply to all items in the left pane (Course Menu, Control Panel, Groups, etc.).
  */
/* Course menu, Control panel, single control: header/footer*/
.navPalette .topRound, .navPalette .bottomRound {
    display: none;
}
.listCm .actionBarMicro {
    padding-top: 4px;
    background: #00a6d6;
}
.controlpanel .navPaletteTitle h3,
#myGroups_link,
.listCm .navPaletteTitle h3 {
    background-color: #000 !important;
}
/* Course menu, Control panel: menu items. */
#controlPanelPalette_contents li,
#myGroups_contents li,
.listCm .courseMenu li {
    border: 0;
    border-top: 1px solid #99dbef;
    padding: 0;
}
#controlPanelPalette_contents li:first-child,
#myGroups_contents li:first-child,
.listCm .courseMenu li:first-child {
    border-top: 0;
}
#quickEnrollLink,
#controlPanelPalette_contents li h4 a,
#myGroups_contents li h4 a,
.listCm .courseMenu li a {
    padding: 0.7em 15% 0.7em 6%;
}
/* Course menu, Control panel, Groups: header link */
#controlPanelPalette_link,
#courseMenu_link,
#myGroups_link {
    background-image: none;
    padding: 0.7em 15% 0.7em 6%;
}
#myGroups_link:hover {
    color: #fff;
}
/* Course menu, Control panel, Groups: combo link */
#courseMenu_combo,
#controlPanelPalette_contents .submenuLink,
#controlPanelPalette_contents .submenuLink_active,
#myGroups_contents .submenuLink,
#myGroups_contents .submenuLink_active {
    border: 0;
    background-position: center -286px;
    padding-bottom: 0.9em;
}
#courseMenu_combo:hover,
#controlPanelPalette_contents .submenuLink:hover,
#controlPanelPalette_contents .submenuLink_active:hover,
#myGroups_contents .submenuLink:hover,
#myGroups_contents .submenuLink_active:hover {
    border: 0;
    background-position: center 14px;
}
/* Course menu: ribbon. */
.listCm .courseMenu a.cmimg {
    top: 0.875em;
}
/* Course menu: menu items. */
.listCm .courseMenu li,
.listCm .courseMenu li a {
    margin-left: 0;
}
.ineditmode .listCm .courseMenu li {
    margin-left: -14px;
}
.ineditmode .listCm .courseMenu li a {
    margin-left: 14px;
}
/* Control panel: menu items. */
#controlPanelPalette_contents a,
#myGroups_contents a {
    border-top: 0;
}
/* Control panel: parent menu items. */
#controlPanelPalette_contents li h4 a,
#myGroups_contents li h4 a {
    background-image: none;
}
/* Control panel: child menu items. */
#controlPanelPalette_contents .submenu li,
#myGroups_contents .submenu li {
    border-top: 0;
}
/* Remove 'course management'  label. */
h2.navDivider {
    display: none;
}
/* Left align 'Quick enroll' button. */
#quickEnrollLink {
    text-align: left;
}