/**
 * Refresh styling to remove large colored surfaces, making the layout more spacious.
 */
/* Content panel */
#contentPanel .topRound,
#contentPanel .bottomRound {
    display: none;
}
#contentArea, #schemePreviewBody,
#contentPanel .container,
#contentPanel .pageTitle,
#contentPanel .localViewToggle,
#contentPanel .actionBar,
#contentPanel .actionBar ul {
    background: #fff;
    border: 0;
}
/* Content lists, Announcement lists */
.contentList li,
.announcementList li {
    border-top: 1px solid #e5e5e5;
    margin: 0;
    padding: 2px 0;
}
.contentList li:first-child,
.announcementList li:first-child {
    border-top: 0;
}
.contentList .item {
    border-top: 0;
}
.buildList div.details {
    border-left: 2px solid #ccc;
}
/* Announcement information */
.announcementList li .announcementInfo,
#announcementList li .announcementInfo {
    border-left: 0;
    background: #fafafa;
    top: 0;
    bottom: 0;
}
/* Modules */
#moduleBody, #moduleBorder, .portlet {
    border: 1px solid #ccc;
}
.edit_controls {
    top: 2px;
}
#moduleTitle, .portlet h2 {
    color: #00a6d6;
    background: #fff none;
}
.portlet h2.dragHandle:hover {
    background-color: #00a6d6;
    color: #fff;
}
.portlet h2 span.reorder {
    background-position: -208px -124px;
}
.portlet .collapsible {
    border-top: 1px solid #ccc;
    margin: 0 1px;
    padding: 2px 0;
}
.portlet h3, #lightbox h3, .portlet div.portletBlock h4, .portlet div.blockContents h4, .flyout h3 {
    border-bottom: 1px solid #ccc;
    color: #00a6d6;;
}
.portlet.noTitle h2 {
    display: none;
}
.portlet.noTitle .collapsible {
    border-top: 0;
}

/**
  * Huisstijl TU navigatie
  *
  * Mimic the layout of the TU Delft navigation styling used in the corporate websites.
  * Apply to all items in the left pane (navigation palettes and single items).
  */
/* Palette header/footer */
.navPalette .topRound, .navPalette .bottomRound {
    display: none;
}
.navPalette .actionBarMicro {
    padding-top: 4px;
    background: #00a6d6;
}
/* Palette title */
.navPalette .navPaletteTitle h3 {
    background-color: #000 !important;
}
/* Collapsible palette title link */
.navPalette .navPaletteTitle h3 a,
.navPalette .navPaletteContent h4 a {
    background-position: center -250px;
    padding: 0.7em 15% 0.7em 6%;
}
.navPalette .navPaletteTitle h3 a:hover {
    background-position: center -250px;
}
.singleControl .navPaletteContent a:hover,
.navPalette .navPaletteContent h4 a:hover {
    background: #00a6d6 center -250px;
    color: #fff;
    text-decoration: underline;
}
.navPalette .navPaletteContent h4 a.open,
.navPalette .navPaletteContent h4 a.open:hover,
.navPalette .navPaletteContent h4 a.comboLink_active:hover {
    background: #99dbef center -250px;
    color: #000;
    text-decoration: none;
}
.navPalette .navPaletteTitle a.submenuLink,
.navPalette .navPaletteTitle a.submenuLink_active,
.navPalette .navPaletteContent a.submenuLink,
.navPalette .navPaletteContent a.submenuLink_active {
    background-position: center -288px;
    border: 0;
    padding: 0;
}
.navPalette .navPaletteTitle a.submenuLink img ,
.navPalette .navPaletteTitle a.submenuLink_active img,
.navPalette .navPaletteContent a.submenuLink img ,
.navPalette .navPaletteContent a.submenuLink_active img {
    height: 30px;
}
.navPalette .navPaletteTitle a.submenuLink:hover,
.navPalette .navPaletteTitle a.submenuLink_active:hover,
.navPalette .navPaletteContent a.submenuLink:hover,
.navPalette .navPaletteContent a.submenuLink_active:hover {
    border: 0;
    background-position: center -138px;
}
/* Menu items */
.navPalette .navPaletteContent li {
    border: 0;
    border-top: 1px solid #99dbef;
    padding: 0;
}
.navPalette .navPaletteContent li:first-child {
    border-top: 0;
}
/* Sub-menu items */
.navPalette .navPaletteContent .submenu li {
    border-top: 0;
}
/* Palette item link */
.singleControl .navPaletteContent a,
.listCm .courseMenu li a,
.controlpanel .navPaletteContent li h4 a,
.tools .navPaletteContent li h4 a {
    padding: 0.7em 15% 0.7em 6%;
    text-align: left;
}
.navPalette .navPaletteContent a {
    border-top: 0;
}
/* Course menu: ribbon */
.listCm .courseMenu a.cmimg {
    top: 0.875em;
}
/* Course menu: draggable handles */
.listCm .courseMenu li,
.listCm .courseMenu li a {
    margin-left: 0;
}
.ineditmode .listCm .courseMenu li {
    margin-left: -14px;
}
.ineditmode .listCm .courseMenu li a {
    margin-left: 14px;
}
/* Remove 'course management'  label */
h2.navDivider {
    display: none;
}
/* Tree structure */
#pickerPalette .tree,
#pickerPalette .tree h4.treeSubhead-collapsed {
    background: #00a6d6;
}
#pickerPalette .tree h4 {
    background: #99dbef;
}
#pickerPalette .tree h4 a {
    background-position: center -250px;
    padding: 0.7em 15% 0.7em 6%;
    border-top: 0;
}
#pickerPalette .tree h4 a {
    background-color: #99dbef !important; /* Override inline styles. */
    color: #000 !important; /* Override inline styles. */
}
#pickerPalette .tree h4.treeSubhead-collapsed a {
    background-color: #00a6d6 !important; /* Override inline styles. */
    color: #fff !important; /* Override inline styles. */
}
#pickerPalette .tree h4.treeSubhead-collapsed a:hover {
    text-decoration: underline;
}
#pickerPalette .tree li {
    background: #99dbef;
}
#pickerPalette .tree li:first-child {
    background: #99dbef;
}
#pickerPalette .tree li h4 + ul {
    background: #99dbef;
}
#pickerPalette .tree li.subhead li {
    border-top: 0;
}

/**
 * Portlets
 */
.portlet .portletBlock {
    border: 0;
}
.portlet .portletBlock h3 {
    border-bottom: 0
}
.portlet .portletBlock .noItems {
    padding: 6px;
    text-align: left;
}